<h2 mat-dialog-title>Create Account</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput placeholder="User" formControlName="user">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Repeat Password" formControlName="repeatPassword">
      </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>