<h2 mat-dialog-title>SIGN IN</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput type="text" placeholder="User Name" formControlName="user_name">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="!(form.valid)">Save</button>
</mat-dialog-actions>