<!--
  <div style="text-align:center">
 <nav>
    <a [routerLink]="['/identity']" [routerLinkActive]="['activado']">Identity</a>
    -
    <a [routerLink]="['/pubkey']" [routerLinkActive]="['activado']">Pubkey</a>
    -
    <a [routerLink]="['/sendRawTransaction']" [routerLinkActive]="['activado']">SendRawTransaction</a>
  </nav>
</div>

<hr/>
-->
<mat-toolbar color="primary">

  <span>Navigation</span>

  <span class="example-spacer"></span>
  <!--
  <a [routerLink]="['/identity']" [routerLinkActive]="['activado']" mat-button>Identity</a>
  
  <a [routerLink]="['/pubkey']" [routerLinkActive]="['activado']" mat-button>Pubkey</a>
  
  <a [routerLink]="['/sendRawTransaction']" [routerLinkActive]="['activado']" mat-button>SendRawTransaction</a>

  <a [routerLink]="['/getpubkey']" [routerLinkActive]="['activado']" mat-button>Get Public Key</a>7
  -->

  <a [routerLink]="['/login']" [routerLinkActive]="['activado']" mat-button>Login</a>

</mat-toolbar>